extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='title') Title:
      input#first_name.form-control(type='text', placeholder='Title', name='title', required='true' value= undefined===post ? '' : post.title)
    div.form-group
      label(for='content') Content:
      input#last_name.form-control(type='text', placeholder='Content', name='content', required='true' value= undefined===post ? '' : post.content)
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg