extends layout 

block content 

    h1 #{title}: #{post_delete.title}

    p Do you really want to delete this Post?

    form(method='POST' action='')
        div.form-group
            input#postid.form-control(type='hidden',name='postid', required='true', value=post_delete._id )

        button.btn.btn-primary(type='submit') Delete