extends layout 

block content
  h1= title
  if (user)
    p Hello #{user}

  ul
    each post in post_list
      li
        a(href=post.url) !{post.title}

    else
      li There are no posts.
  if (user)
    hr
    p
      a(href='/posts/create') Create new post